
body {
  background-color: linen;
}

h1 {
  color: navy;
}

img{
  width:300px;
  height:200px;
  border:10px solid green;
  color:white;
  border-radius:20px;
}

figcaption{
  width: 315px;
  text-align: left;
  margin-left: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;